# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env

# Build directories
dist/
build/
out/
frontend/dist/

# Prisma
*.db
*.sqlite
*.sqlite-journal

# Temporary files / OS files
.DS_Store
Thumbs.db

# Project specific unnecessary files
payload.json
backend/payload.json
